config mqtt_subscriber 'general'
    option 'enable' 0
    option 'brokerIp' 'broker.hivemq.com'
    option 'brokerPort' '1883'
    option 'username' ''
    option 'password' ''
    option 'use_tls' '0'
    option 'cert_path' ''


config topic
    option 'topic' 'house/temperature'
    option 'qos' 1
    
config topic
    option 'topic' 'house/humidity'
    option 'qos' 1

config topic
    option 'topic' 'house/pressure'
    option 'qos' 1