config mqtt_subscriber 'config'
    option 'enable' 0
    option 'use_tls' '0'
    option 'brokerIp' 'test.mosquitto.org'
    option 'brokerPort' '1883'
    option 'username' ''
    option 'password' ''


    config mqttsubscribe_topic
    option 'topic' 'house/temperature'
    option 'qos' 1
    
    config mqttsubscribe_topic
    option 'topic' 'house/humidity'
    option 'qos' 1

    config mqttsubscribe_topic
    option 'topic' 'house/pressure'
    option 'qos' 1