config mqtt_subscriber 'general'
    option 'enable' 0
    option 'brokerIp' '192.168.1.1'
    option 'brokerPort' '1883'
    option 'username' 'reader'
    option 'password' 'reader'
    option 'use_tls' '0'
    option 'cert_path' ''


config topic
    option 'topic' 'house/temperature'
    option 'qos' 1
    
config topic
    option 'topic' 'house/humidity'
    option 'qos' 0

config topic
    option 'topic' 'house/pressure'
    option 'qos' 1


config event
    option topic 'house/temperature'                
    option name 'test'                             
    option value 'test'    
    option sender_conf 'rutx10.sender@gmail.com'
    option sender_pass 'dominykas1'
    option smtp 'smtps://smtp.gmail.com'
    option smtp_port '465'
    option receiver_mail 'b.dominykas@gmail.com'

config event
    option topic 'house/humidity'                
    option name 'test'                             
    option data_type '1'
    option value '9999'      
    option operator '1'       
    option sender_conf 'rutx10.sender@gmail.com'
    option sender_pass 'dominykas1'
    option smtp 'smtps://smtp.gmail.com'
    option smtp_port '465'
    option receiver_mail 'b.dominykas@gmail.com'

    
config event
    option topic 'house/humidity'                
    option name 'test'                             
    option data_type '1'
    option value '1'      
    option operator '1'       
    option sender_conf 'rutx10.sender@gmail.com'
    option sender_pass 'dominykas1'
    option smtp 'smtps://smtp.gmail.com'
    option smtp_port '465'
    option receiver_mail 'b.dominykas@gmail.com'